node_modules
source/__pycache__a/
source/input.css
static/css/style.css
static/js/script.js
temp
templates/layout_ori.html
templates/new_layout.html
venv
.env
package-lock.json
package.json
tailwind.config.js